body {
  background: #fafafa;
  font-family: Arial, sans-serif;
}

.container {
  width: 350px;
  margin: 50px auto;
}

.login-box {
  background: white;
  border: 1px solid #dbdbdb;
  padding: 40px;
  text-align: center;
}

.logo {
  font-family: 'Billabong', cursive;
  font-size: 50px;
  margin-bottom: 30px;
}

input {
  width: 100%;
  padding: 9px;
  margin-bottom: 8px;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.login-btn {
  width: 100%;
  background: #0095f6;
  border: none;
  color: white;
  padding: 8px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.divider span {
  flex: 1;
  height: 1px;
  background: #dbdbdb;
}

.divider p {
  margin: 0 10px;
  color: gray;
  font-size: 12px;
}

.forgot {
  font-size: 12px;
  color: #00376b;
  text-decoration: none;
}

.signup-box {
  background: white;
  border: 1px solid #dbdbdb;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}

.signup-box a {
  color: #0095f6;
  font-weight: bold;
  text-decoration: none;
}

.small-text {
  font-size: 12px;
  color: gray;
}
